<div class="container">
  <div class="panel panel-primary">
    <header class="page-header jumbotron">
      <h1>{{ title }}</h1>
      <h5>{{ subtitle }}</h5>
    </header>
  </div>
  <div class="container">
    <!-- <p>Our Stuff Goes Here</p>
    <ol>
      <li *ngFor="let thingy of stuffToDo">{{thingy}}</li>
    </ol>
    <div class="form-group">
      <input class="form-control"
             #ryan>
      <input type="button"
             (click)="add(ryan)"
             class="btn btn-primary"
             value="Add">
    </div> -->
    <!-- <app-home></app-home>
    <app-shopping-list></app-shopping-list> -->
    <app-nav></app-nav>
    <router-outlet></router-outlet>
  </div>
</div>
